<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LatestTitle</key>
	<string>A Day Made of Glass 2: Same Day. Expanded Corning Vision.</string>
	<key>LatestVideoID</key>
	<string>jZkHpNnXLB0</string>
	<key>LatestDuration</key>
	<string>05:59</string>
	<key>LatestAuthor</key>
	<string>CorningIncorporated</string>
	<key>YouTubeVideos</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Viva Music Boat Cruise - Steve Lawler</string>
			<key>VideoID</key>
			<string>76VlO5ZfdTM</string>
			<key>Duration</key>
			<string>34:48</string>
			<key>Author</key>
			<string>PrometheusXex</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Riva Starr Feat. Noze - I Was Drunk (Official Video HD)</string>
			<key>VideoID</key>
			<string>hLdmoX8UsRA</string>
			<key>Duration</key>
			<string>02:45</string>
			<key>Author</key>
			<string>kontor</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>The Volvo XC60 &amp; City Safety: From Sweden with Löv</string>
			<key>VideoID</key>
			<string>tKXoll6GaNQ</string>
			<key>Duration</key>
			<string>00:32</string>
			<key>Author</key>
			<string>VolvoXC60</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Smithy at Sports Personality of the Year - BBC Sport Relief Night 2010</string>
			<key>VideoID</key>
			<string>IvvKUtHlDK8</string>
			<key>Duration</key>
			<string>13:28</string>
			<key>Author</key>
			<string>BBC</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Jeremy Lin NYK v NJN (Feb 4, 2012) 25pts 7ast 5reb - Career high points</string>
			<key>VideoID</key>
			<string>UcAkP9Bkdds</string>
			<key>Duration</key>
			<string>14:59</string>
			<key>Author</key>
			<string>aman2k</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MAJKA CURTIS BLR - BELEHALOK (OFFICIAL VIDEO)</string>
			<key>VideoID</key>
			<string>UylZ_e2mAFk</string>
			<key>Duration</key>
			<string>04:30</string>
			<key>Author</key>
			<string>lostikipictures</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Smart buildings - the future of building technology</string>
			<key>VideoID</key>
			<string>gCuPx9shWT0</string>
			<key>Duration</key>
			<string>07:27</string>
			<key>Author</key>
			<string>Siemens</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Planet Dinosaur S01E04 Fight For Life HDTV Part 2/2</string>
			<key>VideoID</key>
			<string>vavhQReyN-M</string>
			<key>Duration</key>
			<string>13:30</string>
			<key>Author</key>
			<string>DontTerminateMeOMG</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Michael Jackson Pepsi Generation</string>
			<key>VideoID</key>
			<string>po0jY4WvCIc</string>
			<key>Duration</key>
			<string>01:32</string>
			<key>Author</key>
			<string>GiraldiMedia</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Torrente 4 - Tráiler-Videoclip Oficial</string>
			<key>VideoID</key>
			<string>czWMh3LwtAc</string>
			<key>Duration</key>
			<string>02:57</string>
			<key>Author</key>
			<string>TorrenteOfficial</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>R.I.O. feat. Nicco - Party Shaker (Official Video HD)</string>
			<key>VideoID</key>
			<string>8sPj0Ic8KQ8</string>
			<key>Duration</key>
			<string>03:31</string>
			<key>Author</key>
			<string>Kontor</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>EDWARD MAYA presents Violet Light - LOVE STORY (Tribute to Mexico | New song 2012)</string>
			<key>VideoID</key>
			<string>sM6emA3JMJ4</string>
			<key>Duration</key>
			<string>04:12</string>
			<key>Author</key>
			<string>VioletLightMusic</string>
		</dict>
	</array>
</dict>
</plist>
